/* rewrite default bootstrap rules */
.form-horizontal .control-group { margin-bottom: 10px; }
.form-horizontal .control-label { width: 200px; }
.form-horizontal .controls { margin-left: 220px; }
legend { margin-bottom: 10px; border-bottom: 1px solid #B9B9B9; text-shadow: 1px 1px 0 white; }


.job_btn_fieldset_2 { display: none; }
.inactive { opacity: 0.2; }

/* startup opacity/visibility conditions */
#fieldset_0, #fieldset_1, #fieldset_2,
#jom_rowback, #jom_rowgoon, #jom_install_feedback_bar,
#jom_install_feedback_messages { display: none; opacity: 0; }
h1 img, h2 { display: none; opacity: 0; }
