body { background:url('../img/sitebg.jpg') }

/* RIBBON */
#jom_version_ribbon {
  position: fixed;
  top: 0;
  left: 10px;
  background: url('../img/red_empty_ribbon.png');
  background-repeat: no-repeat;
  width: 70px;
  height: 108px;
}
#jom_version_ribbon .jom_label {
  position: relative;
  text-align: center;
  width: 66px;
  color: white;
  font-size: 14px;
  margin-top: 20px;
  text-shadow: 2px 2px 3px #4F4F4F;
}
#jom_version_ribbon .jom_version {
  position: relative;
  text-align: center;
  width: 66px;
  color: white;
  font-size: 18px;
  margin-top: 5px;
  text-shadow: 2px 2px 3px #4F4F4F;
  cursor: help;
}
#jom_version_ribbon .jom_useful_sentence {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 15px;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgba(180, 180, 180, 0.3);
  padding-left: 75px;
  z-index: -1;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid rgba(180,180,180, 0.6);
  border-right: 1px solid rgba(180, 180, 180, 0.6);
  color: #6F6F6F;
  opacity: 0;
}

/*
 * LOGIN PAGE
 */
.login-form {
    width: 350px;
    margin: 0 auto;
    border: 1px solid #AFAFAF;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #888;
    background-color: white;
    padding: 15px;
}
.login-form .form-control {
    font-weight: bold;
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.alert { background-color: rgba(252, 248, 227, 0.8); }
